@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scan-line {
  0% { transform: translateY(0); }
  100% { transform: translateY(460px); }
}

.animate-scan-line {
  animation: scan-line 2.5s linear infinite;
}